
#map {
  width: 100%;
  height: 100%;
}

#location-search {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px; /* Adjust width as needed */
}

#location-search:focus {
  outline: none;
  border-color: var(--secondary-color);
  box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
}